@font-face {
  font-family: SUIT;
  font-weight: 800;
  src: url('../../assets/fonts/SUIT-Heavy.woff2') format('woff2');
}
@font-face {
  font-family: SUIT;
  font-weight: 700;
  src: url('../../assets/fonts/SUIT-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: SUIT;
  font-weight: 600;
  src: url('../../assets/fonts/SUIT-Bold.woff2') format('woff2');
}
@font-face {
  font-family: SUIT;
  font-weight: 500;
  src: url('../../assets/fonts/SUIT-Medium.woff2') format('woff2');
}
@font-face {
  font-family: SUIT;
  font-weight: 400;
  src: url('../../assets/fonts/SUIT-Regular.woff2') format('woff2');
}
